@using Entities;
@using Business;
@inject NavigationManager nav

<EditForm Model="oReplacement">
    <div class="form-group">
        <label>Numero de serie del nuevo dispositivo</label>       
        <InputSelect @bind-Value="oReplacement.NewSerieDevice" class="form-control">
            <option value="">Seleccione un equipo...</option>
            @foreach (var item in oDevices)
            {
                <option value="@item.Key"> @item.Value - @item.Key</option>
            }
        </InputSelect>
    </div>
    <div class="form-group">
        <label>Numero de serie del dispositivo a reeplazar</label>
        <InputSelect @bind-Value="oReplacement.DeviceId" class="form-control">
            <option value="">Seleccione un equipo...</option>
            @foreach (var item in oDevices)
            {
                <option value="@item.Key"> @item.Value - @item.Key</option>
            }
        </InputSelect>
    </div>
    <div>
        <label>Notas</label>
        <InputTextArea class="form-control" @bind-Value="oReplacement.Notes"></InputTextArea>
    </div>
</EditForm>
<div class="align-content-center">
    <input  type="button" value="Guardar reemplazo" class="btn-info" @onclick="SaveReplacement"/>
</div>

@code {
    ReplacementDeviceEntity oReplacement = new ReplacementDeviceEntity();

    Dictionary<string, string> oDevices = new Dictionary<string, string>();

    protected override async Task OnInitializedAsync()
    {
        oDevices = B_Device.GetDictonaryOfDevicesWithClient();
    }
    protected void SaveReplacement()
    {
        B_Replacement.Create(oReplacement);
        nav.NavigateTo("replacement/list");
    }

}
