@using Entities;
@using Business;
@inject IToastService toastService

@if(Maintenances.Count!= 0)
{
    if(lastMaintenance.MaintenanceDate.AddYears(1) < DateTime.Today)
    {
        <div class="d-flex flex-column">
            <label>Ultimo Mantenimiento: @lastMaintenance.MaintenanceDate.ToString("dddd dd MMM yyyy")</label>
            <label class="text-danger font-weight-bold">El ultimó mantenimiento fue realizado hace más de un año</label>
        </div>
    }
    else
    {
        <div class="d-flex flex-column">            
            <label class="text-success font-weight-bold">El ultimó mantenimiento fue realizado hace menos de un año</label>
        </div>
    }
}
else
{
    <div class="d-flex flex-column">
        <label class="text-warning font-weight-bold">El sistema no presenta mantenimientos registrados.</label>
    </div>    
}



<table class="table table-responsive-sm table-bordered table-hover table-light">
    <thead>
        <tr>
            <td> Numero Serie</td>
            <td> Fecha de Mantenimiento </td>
            <td> Técnico</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Maintenances)
        {
            <tr>
                <td> @obj.DeviceId </td>
                <td> @obj.MaintenanceDate.ToString("dd-MMM-yyyy")</td>
                <td> @obj.Technician.TechnicianName</td>
                <td> <a class="btn btn-primary" href="maintenance/view/@obj.MaintenanceId" @onclick="@(() => toastService.ShowInfo("Buscando recurso solicitado...","Información"))"> Ver </a></td>
                <td> <a class="btn btn-secondary" href="maintenance/update/@obj.MaintenanceId"> Modificar </a></td>
                <td> <a class="btn btn-danger" href="maintenance/delete/@obj.MaintenanceId"> Eliminar </a></td>
            </tr>            
        }
    </tbody>
</table>


@code {
    [Parameter]
    public string id { get; set;}
    List<MaintenanceEntity> Maintenances = new List<MaintenanceEntity>();
    MaintenanceEntity lastMaintenance = new MaintenanceEntity();

    protected override async Task OnInitializedAsync()
    {
        Maintenances = B_Maintenance.ListOfMaintenancesById(id);
        lastMaintenance = (from maint in Maintenances select maint).OrderByDescending(M => M.MaintenanceDate).FirstOrDefault();
    }
}
