@using Entities;
@using Business;
@inject NavigationManager Nav;



<EditForm Model="oMaintenance">
    <div class="form-group">
        <label class="h3"> Referencia: @oMaintenance.MaintenanceId</label>
    </div>
    <div class="form-group">
        <label>Fecha de Mantenimiento</label>
        <InputDate class="form-control" @bind-Value="oMaintenance.MaintenanceDate"></InputDate>
    </div>
    <div class="form-group">
        <label> Estado del dispositivo</label>
        <InputTextArea class="form-control" @bind-Value="oMaintenance.StatusOfDevice"></InputTextArea>
    </div>
    <div class="form-group">
        <label> Resistencia de la malla</label>
        <InputNumber class="form-control" @bind-Value="oMaintenance.SpatOhms"></InputNumber>
    </div>
    <div class="form-group">
        <label>Resistencia de las Semiesferas del Dispositivo</label>
        <InputNumber class="form-control" @bind-Value="oMaintenance.DeviceOhms"></InputNumber>
    </div>
    <div class="form-group">
        <label>Transferencia de Cargas</label>
        <InputNumber class="form-control" @bind-Value="oMaintenance.Ampers"></InputNumber>
    </div>
    <div class="form-group">
        <label>Numero de Informe</label>
        <InputText class="form-control" @bind-Value="oMaintenance.ReportId"></InputText>
    </div>
    <div class="form-group">
        <label>Recomendaciones</label>
        <InputTextArea class="form-control" @bind-Value="oMaintenance.Recomendations"></InputTextArea>
    </div>
    <div class="form-group">
        <label class="h5"><strong>Numero de Serie</strong></label>
        <input type="text" list="sample" @bind-value="@oMaintenance.DeviceId" class="form-control" />
        <datalist id="sample">
              @if (devicesDict.Count != 0)
            {                
                @foreach (var Device in devicesDict)
                {
                    <option value="@Device.Key">@Device.Value- @Device.Key </option>
                }
            }
            else
            {
                <option value="">No hay dispositivos activos</option>
            }
        </datalist>
        <p><i>Numero de serie del dispositivo existente.</i></p>
    </div>
    <div class="form-group">
        <label>Tecnico encargado</label>
        <InputSelect class="form-control" @bind-Value="oMaintenance.TechnicianId">
            @if (technicians.Count != 0)
            {
                <option value="0"> Seleccione un Tecnico...</option>
                @foreach (TechnicianEntity technician in technicians)
                {
                    <option value="@technician.TechnicianId">@technician.TechnicianName </option>
                }
            }
            else
            {
                <option value="0">No hay tecnicos disponibles</option>
            }
        </InputSelect>
    </div>

</EditForm>
<input type="button" value="ActualizarMantenimiento" class="btn-primary" @onclick="UpdateMaintenance" />
<p>@Message</p>


@code{
    [Parameter]
    public string id { get; set; }

    string Message = "";

    List<TechnicianEntity> technicians = new List<TechnicianEntity>();
    Dictionary<string, string> devicesDict = new Dictionary<string, string>();
    MaintenanceEntity oMaintenance = new MaintenanceEntity();
    protected override async Task OnInitializedAsync()
    {
        devicesDict = B_Device.GetDictonaryOfDevicesWithClient();
        oMaintenance = B_Maintenance.MaintenanceById(id);

        technicians = B_Technician.GetListOftechnicians();
    }

    private void UpdateMaintenance()
    {
        try
        {
            var tmpTechnician = technicians.Find(T => T.TechnicianId == oMaintenance.TechnicianId);
            oMaintenance.Technician = tmpTechnician;
            var tmpDevice = B_Device.DeviceById(oMaintenance.DeviceId);
            //var tmpDevice = oDevices.Find(D => D.DeviceId == oMaintenance.DeviceId);
            oMaintenance.Device = tmpDevice;

            B_Maintenance.Update(oMaintenance);
            Nav.NavigateTo("maintenance/list");
        }
        catch(Exception f)
        {
            Message = $"Error:{f.Message}. Intentelo de nuevo";
        }

    }
}