@using Entities;
@using Business;
@inject NavigationManager Nav;

<EditForm Model="@oClient">
    <div class="form-group">
    <label>Tipo de Cliente</label>
      <InputSelect @bind-Value="oClient.SectorId" class="form-control">
            @foreach (var item in sample)
            {
                <option value="@item.Key">@item.Value</option>
            }
        </InputSelect>
        <p><i>Sector correspondiente al Cliente</i></p>
    </div>
    <div class="form-group">
        <label>Nombre del cliente</label>
        <InputText @bind-Value="oClient.Name" class="form-control"></InputText>
        <p><i>Nombre jurídico del cliente o nombre físico</i></p>
    </div>
    <div class="form-group">
        <label>Sector del cliente</label>
        <InputSelect @bind-Value="oClient.SectorId" class="form-control">
            @foreach (var item in Sectors)
            {
                <option value="@item.SectorId">@item.SectorName</option>
            }
        </InputSelect>
        <p><i>Sector correspondiente al Cliente</i></p>
    </div>
    <input type="button" value="Registar Cliente" @onclick="SaveClient" />
</EditForm>
<p class="text-danger">@Error</p>

@code{
    ClientEntity oClient = new ClientEntity();
    string Error = "";

    Dictionary<string, string> sample = new Dictionary<string, string>()
    {
        { "Htl","Hotelera"},
        { "Edu","Educación"},
        { "Inds","Industrial"},
        { "Red","Residencial"},
        { "Com","Comercial"},
        { "Muni","Municipalidades"},
        { "Segu","Aseguradoras"},
        { "Hosp","Hospitalario"},
        { "Telco","Telecomunicaciones"},
        { "Recr","Recreativo"},
        { "Finan","Financiero"},
        { "Serv","Servicios"},
        { "Inst","Institucional"},
        { "Aerop","Aeroportuario"},
        { "Embar","Embarcaciones"},
        { "Mari","Marinas"},
        { "Const","Constructora"},
        { "Otro","Otro"},
    };

    List<SectorEntity> Sectors = new List<SectorEntity>();

    protected override async Task OnInitializedAsync()
    {
        Sectors = B_Sectors.ListOfSectors();
    }

    private void SaveClient()
    {
        try
        {
            oClient.Id = Guid.NewGuid().ToString();
            B_Client.CreateClient(oClient);
            Error = "";
            Nav.NavigateTo("client/list");        
        }catch (Exception f)
        {
            Error = $" Error: {f.Message}. Intentelo nuevamente.";
        } 

    }
}