@using Entities;
@using Business;
@inject NavigationManager Nav;

<div>
    <EditForm Model="oDevice">
        <div class="form-group">
            <label class="h5"> <strong>Numero de Serie:</strong> </label>
            <InputText @bind-Value="oDevice.DeviceId" class="form-control"></InputText>
            <p><i>Número de serie del equipo</i></p>
        </div>
        <div class="form-group">
            <label class="h5"><strong> Alias del dispositivo:</strong> </label>
            <InputText @bind-Value="oDevice.Alias" class="form-control"></InputText>
            <p><i>Alias, ejemplo: "Sector oficina"</i></p>
        </div>
        <div class="form-group">
            <label class="h5"><strong>Longitud</strong></label>
            <InputText @bind-Value="@oDevice.Longitude" class="form-control"></InputText>
            <p><i>Puede ser dado en grados o decimales</i></p>
            <label class="h5">Latitud</label>
            <InputText @bind-Value="@oDevice.Latitude" class="form-control"></InputText>
            <p><i>Puede ser dado en grados o decimales</i></p>
        </div>
        <div class="form-group">
            <label class="h5"><strong>Pais de Instalación</strong></label>
            <InputSelect @bind-Value="oDevice.CountryId" class="form-control">
                <option value=0>Pais</option>
                @foreach (var item in Countries)
                {
                    <option value="@item.CountryId">@item.CountryName</option>
                }
            </InputSelect>
            <p><i>País en el  cual se realiza la instalación</i></p>
        </div>
        <div class="form-group">
            <label class="h5"><strong>Fecha de Instalación</strong></label>
            <InputDate @bind-Value="oDevice.InstallationDate" class="form-control"></InputDate>
            <p><i>Fecha exacta de la colocación del equipo</i></p>
        </div>
        <div class="form-group">
            <label class="h5"> <strong>Tipo de Dispositivo</strong></label>
            <InputSelect @bind-Value="oDevice.TypeDeviceId" class="form-control">
                <option value="">Seleccione...</option>
                @foreach (var item in TDevices)
                {
                    <option value="@item.TypeDeviceId">@item.TypeDeviceName</option>
                }
            </InputSelect>
            <p><i>Consultar información con vendedor</i></p>
        </div>
        <div class="form-group">
            <label class="h5"><strong>Modelo del dispositivo:</strong></label>
            <InputSelect @bind-Value="oDevice.ModelDeviceId" class="form-control">
                <option value="">Modelo</option>
                @foreach (var item in Models)
	            {
                    <option value="@item.ModelDeviceId">@item.ModelDeviceName</option>		 
	            }
            </InputSelect>
            <p><i>Modelo del equipo. Determinado por radio de cobertura</i></p>
        </div>
        <div class="form-group">
            <label class="h5"><strong>En funcionamiento</strong></label>
            <InputCheckbox @bind-Value="oDevice.IsActive"></InputCheckbox>
            <p><i>Seleccionar si el equipo se encuentra en funcionamiento</i></p>
        </div>
        <div class="form-group">
            <label class="h5"><strong>Cliente</strong></label>
            <input type="text" list="list-clients" @bind-value="@oDevice.ClientId" class="form-control" placeholder="Seleccione un cliente">/>
            <datalist id="list-clients">                
                @foreach (var obj in Clients)
                {
                    <option value="@obj.Id">@obj.Name</option>
                }
            </datalist>
            <p><i>El cliente debe ser preregistrado antes de ingresar un nuevo equipo</i></p>
        </div>       
        <div class="form-group">
            <label class="h5"><strong>Vendedor</strong></label>
            <input type="text" list="list-salemans" @bind-value="@oDevice.SaleManId" class="form-control" placeholder="Seleccione un vendedor">/>
            <datalist id="list-salemans">
                @foreach (var obj in SaleMans)
                {
                    <option value="@obj.SaleManId">@obj.Name</option>
                }
            </datalist>
            <p><i>El vendedor debe estar previamente registrado</i></p>
        </div>
        <div class="form-group">
            <label class="h5"><strong>Notas del equipo</strong></label>
            <InputTextArea  @bind-Value="oDevice.Note" class="form-control"></InputTextArea>
            <p><i>Notas Generales del dispositivo</i></p>
        </div>
    </EditForm>
    <input type="button" value="Registrar Equipo" @onclick="SaveDevice"  class=" btn-group btn-light"/>
    <div class="text-center" >
        <label class="text-center" style="color: red">@Message</label>
    </div>
</div>


@code   {
    DeviceEntity oDevice = new DeviceEntity();
    List<ClientEntity> Clients = new List<ClientEntity>();
    List<SaleManEntity> SaleMans = new List<SaleManEntity>();
    List<CountryEntity> Countries = new List<CountryEntity>();
    List<TypeDeviceEntity> TDevices = new List<TypeDeviceEntity>();
    List<ModelDeviceEntity> Models = new List<ModelDeviceEntity>();
    string[] Meses = { "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" };
    string Message;
    protected override async Task OnInitializedAsync()
    {
        Clients = B_Client.ListOfClients();
        SaleMans = B_SaleMan.ListOfSaleMans();
        Countries = B_Country.ListOfCountries();
        TDevices = B_TypeDevice.ListOfTDevices();
        Models = B_ModelDevice.ListOfModels();

    }


    private void SaveDevice()
    {
        try
        {
            if(oDevice.ClientId != null)
            {
                oDevice.IsReplaced = false;
                oDevice.RecomendedDateOfMaintenance = oDevice.InstallationDate.AddYears(1);
                B_Device.CreateDevice(oDevice);
                Nav.NavigateTo("device/list");
            }
            else
            {
                Message = "Error verifica los campos";
            }

        }catch(Exception f)
        {
            Message = $"Error {f.Message}. Intentalo de nuevo..";           
        }


    }
}


