@using Entities;
@using Business;
@inject NavigationManager Nav;

<div>
    <EditForm Model="oDevice">
        <div class="form-group">
            <label class="h5"> Numero de Serie: @oDevice.DeviceId</label>
        </div>
        <div class="form-group">
            <label class="h5"> Alias del dispositivo: </label>
            <InputText @bind-Value="oDevice.Alias" class="form-control"></InputText>
        </div>
        <div class="form-group">
            <label class="h5">Longitud</label>
            <InputText @bind-Value="@oDevice.Longitude" class="form-control"></InputText>
            <label class="h5">Latitud</label>
            <InputText @bind-Value="@oDevice.Latitude" class="form-control"></InputText>
        </div>
        <div class="form-group">
            <label class="h5">Pais de Instalación</label>
            <InputSelect @bind-Value="oDevice.CountryId" class="form-control">
                <option value="">Pais</option>
                @foreach (var item in Countries)
                {
                    <option value="@item.CountryId">@item.CountryName</option>
                }
            </InputSelect>
        </div>
        <div class="form-group">
            <label class="h5">Fecha de Instalación</label>
            <InputDate @bind-Value="oDevice.InstallationDate" class="form-control"></InputDate>
        </div>      
        <div class="form-group">
            <label class="h5"> Tipo de Dispositivo</label>
            <InputSelect @bind-Value="oDevice.TypeDeviceId" class="form-control">
                <option value="">Tipo...</option>
                @foreach (var item in TDevices)
	            {
		            <option value="@item.TypeDeviceId">@item.TypeDeviceName</option>
	            }
            </InputSelect>
        </div>
        <div class="form-group">
            <label class="h5">Modelo del dispositivo:</label>
            <InputSelect @bind-Value="oDevice.ModelDeviceId" class="form-control">
                <option value="">Modelo</option>
                @foreach (var item in Models)
	            {
		            <option value="@item.ModelDeviceId">@item.ModelDeviceName</option>
	            }
            </InputSelect>
        </div>
        <div class="form-group">
            <label class="h5">En funcionamiento</label>
            <InputCheckbox @bind-Value="oDevice.IsActive"></InputCheckbox>
        </div>
        <div class="form-group">
            <label class="h5"><strong>Cliente</strong></label>
            <input type="text" list="list-clients" @bind-value="@oDevice.ClientId" class="form-control" />
            <datalist id="list-clients">
                <option value="">Seleccione un Cliente...</option>
                @foreach (var obj in Clients)
                {
                    <option value="@obj.Id">@obj.Name</option>
                }
            </datalist>
            <p><i>El cliente debe ser preregistrado antes de ingresar un nuevo equipo</i></p>
        </div> 
        <div class="form-group">
            <label class="h5"><strong>Vendedor</strong></label>
            <input typer="text" list="list-clients" @bind-value="@oDevice.SaleManId" class="form-control" />
            <datalist id="list-clients">
                <option value="">Seleccione un Vendedor...</option>
                @foreach (var obj in SaleMans)
                {
                    <option value="@obj.SaleManId">@obj.Name</option>
                }
            </datalist>
            <p><i>El vendedor debe estar previamente registrado</i></p>
        </div>
          <div class="form-group">
            <label class="h5"><strong>Instalador</strong></label>
            <input type="text" list="list-installer" @bind-value="@oDevice.InstallerId" class="form-control" placeholder="Seleccione un instalador">
            <datalist id="list-installer">
                @foreach (var obj in installers)
                {
                    <option value="@obj.InstallerId">@obj.Name</option>
                }
            </datalist>
            <p><i>El instalador debe estar previamente registrado</i></p>
        </div>
        <div class="form-group">
            <label class="h5"><strong>Notas del equipo</strong></label>
            <InputTextArea  @bind-Value="oDevice.Note" class="form-control"></InputTextArea>
            <p><i>Notas Generales del dispositivo</i></p>
        </div>
    </EditForm>
    <input type="button" value="Actualizar Equipo" @onclick="UpdateDevice" class=" btn-group btn-light" />
    <div class="text-center">
        <label class="text-center" style="color: red">@Message</label>
    </div>
</div>


@code {
    [Parameter]
    public string Id { get; set; }

    DeviceEntity oDevice = new DeviceEntity();
    List<ClientEntity> Clients = new List<ClientEntity>();
    List<SaleManEntity> SaleMans = new List<SaleManEntity>();
    List<ModelDeviceEntity> Models = new List<ModelDeviceEntity>();
    List<CountryEntity> Countries = new List<CountryEntity>();
    List<TypeDeviceEntity> TDevices = new List<TypeDeviceEntity>();
    List<InstallerEntity> installers = new List<InstallerEntity>();
    string[] Meses = { "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" };
    string Message;
    protected override async Task OnInitializedAsync()
    {
        oDevice = B_Device.DeviceById(Id);
        Clients = B_Client.ListOfClients();
        SaleMans = B_SaleMan.ListOfSaleMans();
        Countries = B_Country.ListOfCountries();
        TDevices = B_TypeDevice.ListOfTDevices();
        Models = B_ModelDevice.ListOfModels();
       installers = B_Installer.GetInstallers();

    }


    private void UpdateDevice()
    {
        try
        {
            oDevice.Client =B_Client.ClientById(oDevice.ClientId);
            oDevice.SaleMan = B_SaleMan.SaleManById(oDevice.SaleManId);
            oDevice.Country = B_Country.GetCountryById(oDevice.CountryId);
            oDevice.TypeDevice = B_TypeDevice.GetTypeById(oDevice.TypeDeviceId);
            oDevice.ModelDevice = B_ModelDevice.GetModelById(oDevice.ModelDeviceId);
            B_Device.UpdateDevice(oDevice);
            Nav.NavigateTo("device/list");
        }catch(Exception f)
        {
            Message = $"Error: {f.Message}. Intentelo de nuevo";
        }

    }

}
