@using Entities;
@using Business;
@inject NavigationManager Nav;

<div>
    <EditForm Model="oDevice">
        <div class="form-group">
            <label class="h5"> Numero de Serie: @oDevice.DeviceId</label>
        </div>
        <div class="form-group">
            <label class="h5"> Alias del dispositivo: </label>
            <InputText @bind-Value="oDevice.Alias" class="form-control"></InputText>
        </div>
        <div class="form-group">
            <label class="h5">Longitud</label>
            <InputNumber @bind-Value="@oDevice.Longitude" class="form-control"></InputNumber>
            <label class="h5">Latitud</label>
            <InputNumber @bind-Value="@oDevice.Latitude" class="form-control"></InputNumber>
        </div>
        <div class="form-group">
            <label class="h5">Pais de Instalación</label>
            <InputSelect @bind-Value="oDevice.Country" class="form-control">
                <option value="">Pais</option>
            </InputSelect>
        </div>
        <div class="form-group">
            <label class="h5">Fecha de Instalación</label>
            <InputDate @bind-Value="oDevice.InstallationDate" class="form-control"></InputDate>
        </div>      
        <div class="form-group">
            <label class="h5"> Tipo de Dispositivo</label>
            <InputSelect @bind-Value="oDevice.TypeDeviceId" class="form-control">
                <option value="">Tipo...</option>
            </InputSelect>
        </div>
        <div class="form-group">
            <label class="h5">Modelo del dispositivo:</label>
            <InputSelect @bind-Value="oDevice.ModelDeviceId" class="form-control">
                <option value="">Modelo</option>
            </InputSelect>
        </div>
        <div class="form-group">
            <label class="h5">En funcionamiento</label>
            <InputCheckbox @bind-Value="oDevice.IsActive"></InputCheckbox>
        </div>
        <div class="form-group">
            <label class="h5">Cliente</label>
            <InputSelect @bind-Value="oDevice.ClientId" class="form-control">
                <option value="">Seleccione un Cliente...</option>
                @foreach (var obj in Clients)
                {
                    <option value="@obj.Id">@obj.Name</option>
                }
            </InputSelect>
        </div>
        <div class="form-group">
            <label class="h5">Cliente</label>
            <InputSelect @bind-Value="oDevice.SaleManId" class="form-control">
                <option value="">Seleccione un Vendedor...</option>
                @foreach (var obj in SaleMans)
                {
                    <option value="@obj.SaleManId">@obj.Name</option>
                }
            </InputSelect>
        </div>
    </EditForm>
    <input type="button" value="Actualizar Equipo" @onclick="UpdateDevice" class=" btn-group btn-light" />
    <div class="text-center">
        <label class="text-center" style="color: red">@Message</label>
    </div>
</div>


@code {
    [Parameter]
    public string Id { get; set; }

    DeviceEntity oDevice = new DeviceEntity();
    List<ClientEntity> Clients = new List<ClientEntity>();
    List<SaleManEntity> SaleMans = new List<SaleManEntity>();
    List<ModelDeviceEntity> Models = new List<ModelDeviceEntity>();
    List<CountryEntity> Countries = new List<CountryEntity>();
    List<TypeDeviceEntity> TypeDevices = new List<TypeDeviceEntity>();
    string[] Meses = { "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" };
    string Message;
    protected override async Task OnInitializedAsync()
    {
        oDevice = B_Device.DeviceById(Id);
        Clients = B_Client.ListOfClients();
        SaleMans = B_SaleMan.ListOfSaleMans();
    }


    private void UpdateDevice()
    {
        var oClient =B_Client.ClientById(oDevice.ClientId);
        var oSaleman = B_SaleMan.SaleManById(oDevice.SaleManId);
        oDevice.SaleMan = oSaleman;
        oDevice.Client = oClient;
        B_Device.UpdateDevice(oDevice);
        Nav.NavigateTo("device/list");
    }

}
