@using Entities;
@using Business;

@inject NavigationManager Nav;


<div>
    <div>
        <div class="d-flex flex-column">
            @if (!oDevice.IsActive)
            {
                <label class="text-danger font-weight-bold">Dispositivo marcado como inactivo</label>
                <label class="text-danger">No se pueden agregar mantenimientos o garantias.</label>
            }
            @if (oDevice.IsReplaced)
            {
                <label class="text-danger font-weight-bold">Dispositivo Reemplazadado</label>
            }
            @if(@oDevice.RecomendedDateOfMaintenance <= DateTime.Today.AddDays(-15) )
            {
                <label class="text-danger">La fecha de mantenimiento limite esta próxima a vencer o esta vencida.</label>
                <label class="text-danger font-weight-bold">Verifica que la garantias de equipo y mantenimientos esten en vigencia</label>
            }
        </div>
        
        <EditForm Model="@oDevice">
            <table class="table table-light table-responsive-sm table-bordered table-hover">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>Número de serie:</td>
                        <td>@oDevice.DeviceId</td>
                    </tr>
                    <tr>
                        <td>Alias:</td>
                        <td>@oDevice.Alias</td>
                    </tr>
                    <tr>
                        <td>Latitud:</td>
                        <td>@oDevice.Latitude</td>
                    </tr>
                    <tr>
                        <td>Longitud:</td>
                        <td>@oDevice.Longitude</td>
                    </tr>
                    <tr>
                        <td>País:</td>
                        <td>@oDevice.Country.CountryName</td>
                    </tr>
                    <tr>
                        <td>Fecha de Instalación:</td>
                        <td>@oDevice.InstallationDate.ToShortDateString()</td>
                    </tr>
                    <tr>
                        <td>Fecha limite próximo mantenimiento</td>
                        @if(@oDevice.RecomendedDateOfMaintenance <= DateTime.Today)
                        {
                            <td class="text-danger">@oDevice.RecomendedDateOfMaintenance.ToShortDateString()  </td>
                        }
                        else
                        {
                            <td >@oDevice.RecomendedDateOfMaintenance.ToShortDateString()  </td>
                        }
                    </tr>
                    <tr>
                        <td>Tipo de equipo</td>
                        <td>@oDevice.TypeDevice.TypeDeviceName</td>
                    </tr>
                    <tr>
                        <td>Modelo:</td>
                        <td>@oDevice.ModelDevice.ModelDeviceName</td>
                    </tr>
                    <tr>
                        <td>Cliente:</td>
                        <td><a href="client/view/@oDevice.ClientId"> @oDevice.Client.Name  </a></td>
                    </tr>
                    <tr>
                        <td>Vendedor encargado:</td>
                        <td><a href="saleman/view/@oDevice.SaleManId">@oDevice.SaleMan.Name</a></td>
                    </tr>
                    <tr>
                        <td>Notas generales:</td>
                        <td>@oDevice.Note</td>
                    </tr>
                </tbody>
            </table>
        </EditForm>
    </div>
    <p>@Message</p>
</div>





@code
{
    [Parameter]
    public string id { get; set; }

    string Message = "";

    DeviceEntity oDevice { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            oDevice = B_Device.DeviceById(id);    
        }catch(Exception f)
        {
            Message = $"Error: {f.Message}";

        }

        

    }
}