@using Entities;
@using Business;


<div>
    <div>
        <label class="col-form-label-sm">Serie del dispositivo</label>
        <select class="form-control-sm" @bind="@DeviceIdToSearch">
            <option value="">Seleccione un equipo...</option>
            @foreach (var it in Devices)
            {
                <option value="@it.Key"> @it.Value - @it.Key </option>
            }
        </select>
        <label class="col-form-label-sm">Envio de cerfificado</label>
        <select class="form-control-sm" @bind="@YearToSearch">
            <option value="0">Seleccione un año...</option>
            @foreach (var item in Years)
            {
                <option value="@item">@item</option>

            }
        </select>
        <label class="col-form-label-sm">Estado de la garantia</label>
        <select class="form-control-sm" @bind="@EstatusToSearch">
            <option value="">Seleccione un estado...</option>
            <option value="En tramite">En tramite</option>
            <option value="Recibido">Recibido</option>
            <option value="Con Problemas">Con Problemas</option>
        </select>
    </div>
    <div>
        <input type="button" value="Buscar" class="btn btn-outline-dark" @onclick="SearchWarranties" />
        <input type="button" value="Limpiar" class="btn btn-outline-dark" @onclick="CleanSpaces" />
        <input type="button" value="Generar" class="btn btn-outline-dark" />
    </div>
    <p class="text-center" style="color:red"> @ErrorMessage</p>
</div>

<table class=" table table-hover table-striped table-responsive-sm ">
    <thead>
        <tr>
            <th> Numero de Serie del equipo </th>
            <th> Fecha Envio España</th>
            <th> Fecha Recepción España</th>
            <th> Estatus</th>
            <th> </th>
            <th> </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Warranties)
        {
            <tr>
                <td> @obj.DeviceId </td>
                <td> @obj.DateSend.ToShortDateString()</td>
                <td>@((!obj.Estatus.Equals("Recibido")) ?"Sin Recibir" : obj.DateReceived.ToShortDateString())</td>
                <td> @obj.Estatus</td>
                <td> <a href="warranty/view/@obj.Id">Ver</a></td>
                <td> <a href="warranty/update/@obj.Id">Modificar</a></td>
                <td> <a style="color:red" href="warranty/delete/@obj.Id">Eliminar</a></td>
            </tr>
        }
    </tbody>
</table>



@code{
    public List<WarrantyEntity> Warranties = new List<WarrantyEntity>();
    public List<int> Years = new List<int>();
    private Dictionary<string, string> Devices;

    #region internal

    private string DeviceIdToSearch = null;
    private int YearToSearch = 0;
    private string EstatusToSearch = null;
    private string ErrorMessage = "";
    #endregion
    protected override async Task OnInitializedAsync()
    {
        Years = B_Warranty.GetYearsOfSend();
        Devices = B_Device.GetDictonaryOfDevicesWithClient();
    }
    private void CleanSpaces()
    {
        DeviceIdToSearch = null;
        YearToSearch = 0;
        EstatusToSearch = null;
    }
    private void SearchWarranties()
    {
        Warranties = B_Warranty.SearchWarranties(DeviceIdToSearch, EstatusToSearch, YearToSearch);
        if (Warranties.Count <= 0)
        {
            ErrorMessage = "No hay coincidencias con los criterios de busqueda";
        }
        else
        {
            ErrorMessage = "";
        }

    }
}
