@using Entities;
@using Business;
@inject NavigationManager Nav;

<EditForm Model="oWarranty">
    <div class="form-group">
        <label class="h5"><strong>Seleccione el Dispositivo</strong></label>
        <InputText @bind-Value="oWarranty.DeviceId" list="list-devices" class="form-control" ></InputText>
        <datalist id="list-devices">
            <option value="0">Seleccione...</option>
            @foreach (var obj in Devices)
            {
                <option value="@obj.Key">@obj.Value  @obj.Key</option>
            }
        </datalist>
        <p><i>Número de dispositivo </i></p>
    </div>
    
    <div class="form-group">
        <label class="h5"><strong>Fecha envío Protocolo</strong></label>
        <InputDate @bind-Value="oWarranty.DateSend" class="form-control" ></InputDate>
        <p><i>Fecha de envio del protocolo a España</i></p>
    </div>
    <div class="form-group">
        <label class="h5"><strong>Fecha recepción Garantía</strong></label>
        <InputDate @bind-Value="oWarranty.DateReceived" class="form-control"></InputDate>
        <p><i>Fecha de recepción o estimada de España</i></p>
    </div>
    <div class="form-group">
        <label class="h5"><strong>Ruta de los Archivos de Garantía:</strong></label>
        <InputTextArea @bind-Value="oWarranty.FilesPaths" class="form-control"></InputTextArea>
        <p><i>Ruta interna del NAS, donde se encuentran almancenados los archivos referentes a la garantia </i></p>
    </div>
    <div class="form-group">
        <label class="h5"><strong>Notas:</strong></label>
        <InputTextArea @bind-Value="oWarranty.Notes" class="form-control"></InputTextArea>
        <p><i>Notas respectivas a la garantía </i></p>
    </div>
    <div class="form-group">
        <label class="h5"><strong>Estatus</strong></label>
        <InputSelect @bind-Value="oWarranty.StatusId" class="form-control">
            <option value="">Seleccione un estado...</option>
            @foreach (var item in status)
            {
                <option value="@item.StatusId">@item.StatusName</option>
            }
        </InputSelect>
        <p><i>Estado de la garantía </i></p>
    </div>
</EditForm>

<input type="button" value="Guardar Registro" class="btn btn-info" @onclick="SaveWarranty"/>
<p>@Message</p>

@code{
    WarrantyEntity oWarranty = new WarrantyEntity();    
    Dictionary<string, string> Devices = new Dictionary<string, string>();
    List<StatusEntity> status = new List<StatusEntity>();
    string Message = "";

    protected override async Task OnInitializedAsync()
    {

        Devices = B_Device.GetDictonaryOfDevicesWithClient();
        status = B_Status.GetStatus();
    }

    private void filepath(ChangeEventArgs e){
        var path = e.Value;
        oWarranty.FilesPaths = path.ToString();
    }

    private void SaveWarranty()
    {
        try
        {
            oWarranty.Id = Guid.NewGuid().ToString();

            B_Warranty.Create(oWarranty);
            Nav.NavigateTo($"warranty/view/{oWarranty.Id}");        
        }catch(Exception f)
        {
            Message = $"Error: {f.Message}. Intentelo de nuevo";
        }

    }

}