@using Business;
@using Entities;


<EditForm Model="oWarranty">
    <div class="form-group">
        <label> <strong>Referencia:</strong> @oWarranty.Id</label>
    </div>
    <div class="form-group">
        <label> <strong>Número de serie:</strong> @oWarranty.DeviceId</label>
    </div>
    <div class="form-group">
        <label> <strong>Fecha envio de envio a España:</strong> @oWarranty.DateSend</label>
    </div>
    <div class="form-group">
        <label> <strong>Fecha recepción de España:</strong> @oWarranty.DateReceived</label>
    </div>
    <div class="form-group">
        <label> <strong>Notas: </strong> @oWarranty.Notes</label>
    </div>
</EditForm>




@code {
    [Parameter]
    public string WarrantyId { get; set; }

    WarrantyEntity oWarranty = new WarrantyEntity();

    protected override async Task OnInitializedAsync()
    {
        oWarranty= B_Warranty.WarrantyById(WarrantyId);
    }
}